.cartContainer {
  width: 288px;
  height: 314px;
  background-color: var(--color-primary);
  overflow-y: auto;
  overflow-x: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cartContainer h3 {
  color: var(--white);
  padding-left: 20px;
}

.cart {
  background-color: var(--grey-0);
}

.cartFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 18px;
  padding-right: 18px;
  background-color: var(--grey-0);
}

.cartFooter p {
  color: var(--grey-100);
  font-size: 14px;
  font-weight: 600px;
  width: 35px;
  height: 24px;
}

.cartFooter span {
  color: var(--grey-50);
  font-size: 14px;
  font-weight: 600;
}

.removeAllButton {
  width: 252px;
  height: 60px;
  color: var(--grey-50);
  border-radius: 8px;
  border: 2px solid var(--grey-20);
  background-color: var(--grey-20);
  margin-bottom: 20px;
}

.removeAllButton:hover {
  color: var(--grey-20);
  background-color: var(--grey-50);
  border: 2px solid var(--grey-50);
}

@media screen and (min-device-width: 769px) {
}
