.mainMenu {
  display: flex;
  overflow-x: auto;
}

@media screen and (min-device-width: 769px) {
  .mainMenu {
    width: 75%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
