.headerContainer {
  height: 120px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-0);
}

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 288px;
  background-color: #ffffff;
  border: 2px solid var(--grey-20);
  border-radius: 8px;
}

.searchBar:focus {
  border: 2px solid var(--grey-100);
}

.searchBar input {
  border: none;
  border-radius: 10px;
  outline: 0;
  width: 170px;
}

input::placeholder {
  color: var(--grey-20);
  font-size: 16px;
}

/*RESPONSIVO*/

@media screen and (min-device-width: 769px) {
  .headerContainer {
    height: 80px;
    padding-left: 105px;
    padding-right: 105px;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .searchBar {
    width: 380px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
