.wrapper {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 288px;
  height: 100px;
  background-color: var(--color-primary);
}

.wrapper h3 {
  color: var(--white);
  padding-left: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: var(--grey-0);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content p {
  font-size: 18px;
  color: var(--grey-100);
  font-weight: bold;
}
